.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding: 10px 40px;
    position: sticky;
    background-color: rgba(255,255,255, 0);
    backdrop-filter: blur(15px);
    z-index: 5px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu li {
    padding: 2px 4px;
    margin: 0px 15px;
    font-size: 1.4rem;
    font-weight: 300;
    transition: letter-spacing .2s ease;
}

.menu li:hover {
    letter-spacing: 3px;
    
}

.logo img{
    width: 50px;
    opacity: .9;
    border-radius: 50%;
}